[Unit]
Description=Run pppd for mobile connection

[Service]
ExecStart=/usr/sbin/pppd nodetach call pppd-mobile-config

# Wait for some time between restarts
RestartSec=60
Restart=always
# Disable burst restart limits, since we have a big RestartSec already
# (StartLimit might cause Systemd to give up restarting the service...)
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
